<ion-content class="ion-padding">

  <topo-login title="Cadastrar usuário"></topo-login><br>
  
  <form [formGroup]="registerForm" (submit)="createUser()">

    <ion-item>
      <ion-icon name="person" color="icone" slot="start"></ion-icon>
      <ion-input formControlName="nome" type="text" placeholder="Nome" autofocus="true"></ion-input>
    </ion-item><br>

    <ion-item>
      <ion-icon name="person" color="icone" slot="start"></ion-icon>
      <ion-input formControlName="snome" type="text" placeholder="Sobrenome"></ion-input>
    </ion-item><br>

    <ion-item>
      <ion-icon name="mail" color="icone" slot="start"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="E-mail"></ion-input>
    </ion-item><br>

    <ion-item>
      <ion-icon name="lock-closed" color="icone" slot="start"></ion-icon>
      <ion-input formControlName="password" type="password" placeholder="Senha"></ion-input>
    </ion-item><br>

    <ion-item>
      <ion-icon name="lock-closed" color="icone" slot="start"></ion-icon>
      <ion-input formControlName="confirm_pass" type="password" placeholder="Confirmar Senha"></ion-input>
    </ion-item><br>

    <ion-button [disabled]="registerForm.invalid" type="submit" expand="block" color="icone">Enviar</ion-button>
  </form>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth']" fill="clear" color="medium">Voltar</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
