#logo-div{
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        height: 150px;
    }

    h3{
        text-align: center;
        padding-bottom: 20%;
    }
}