<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title (click)="logout()">
      iFinanças
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <ion-item>
    <ion-label>Mês</ion-label>
    <ion-datetime displayFormat="MM/YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="mes" (ngModelChange)="atualizaContas()" ></ion-datetime>
  </ion-item>

  <dash-card
    valor = {{conta.pagar.valor}}
    tipo = "pagar"
    num = {{conta.pagar.num}}
  ></dash-card>

  <dash-card
    tipo = "receber"
    valor = {{conta.receber.valor}}
    num = {{conta.receber.num}}
  ></dash-card>

  <dash-card
    tipo="saldo"
    valor="2450,60"
    num="12"
  ></dash-card>
  
  <div id="btnMenu">
    <ion-button color="warning" [routerLink]="['/contas/pagar']" expand="block">Contas a pagar</ion-button>
    <ion-button color="warning" [routerLink]="['/contas/receber']" expand="block">Contas a receber</ion-button>
  </div>
</ion-content>